@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&display=swap");

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #534e52;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222831;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ace070;
}

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  letter-spacing: 1.3px;
}

p {
  margin: 0.75rem 0;
}

a {
  text-decoration: none;
  color: white;
}

body {
  line-height: 1.4;
}

/* Utility Clases */
.text-primary {
  color: #5cb620;
}

.text-center {
  text-align: center;
}

.bg-light {
  background-color: #f4f4f4;
  color: #333;
}

.bg-dark {
  background-color: #333;
  color: #f4f4f4;
  border: none;
}

.bg-primary {
  background: #88bd4c;
  color: white;
}

.py-1 { padding: 1.5rem 0;}
.py-2 { padding: 2rem 0;}
.py-3 { padding: 3rem 0;}

.p-1 { padding: 1.5rem;}
.p-2 { padding: 2rem;}
.p-3 { padding: 3rem;}

.l-heading {
  line-height: 1.1;
  font-size: 3rem;
  font-weight: 700;
}

.m-heading {
  line-height: 1.1;
  font-size: 2rem;
  font-weight: 700;
}

.btn-primary {
  font-weight: 300;
  display: inline-block;
  background-color: #5cb620;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.1s ease-in;
  transition-property: background-color;
}

.btn-primary:hover {
  background-color: #8bad4b;
  border: 2px solid wheat;
}

/* Navbar Start*/

#navbar {
  position: sticky;
  top: 0;
  height: 7.5vh;
  background-color: #222831;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 1;
}

#navbar h1 {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 2px;
}

#navbar h1 span {
  margin-left: 0.2rem;
  color: #ace070;
}

#navbar .nav-items {
  display: flex;
  background-clip: border-box;
}

#navbar li a {
  letter-spacing: 1.5px;
  padding: 0.9rem;
  margin: 0 0.25rem;
  transition: all 0.1s ease-in;
  transition-property: background-color;
}

#navbar li a:hover {
  background-color: #ace070;
  cursor: pointer;
}

/* Navbar End */

/* Header Start */

#landing-cover {
  background: #333 fixed url("../img/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
  color: white;
  /* z-index: -1; */
}

#landing-cover .landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  /* Overlay */
  position: absolute;
  top: 7.5vh;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

#landing-cover .landing-heading {
  margin: 0 10rem 0.75rem; /*To be change in mobile*/
}

#landing-cover .landing-desc {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

/* Header End */


/* About Start */

#about .container {
  max-width: 1100px;
  margin:auto;
  padding:0 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#about .about-heading {
  margin-bottom: 0.75rem;
}

#about .items {
  display:flex;
  padding: 1rem;
}

#about .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#about .items h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

#about .fa-2x {
  font-size: 4rem;
  background-color: #7dd642;
  border-radius: 50%;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

/* About End */


/* Company Start */

#company {
  display: flex;
  height: 60vh;
}

#company div {
  flex: 1;
}

.company-img {
  background: #444 url('../img/power.jpg') no-repeat center center/cover;
}

/* Company End */


/* Partners Start */

#partners .partner-logo {
  display: flex;
}

#partners .partner-logo img{
  display: block;
  margin: auto;
  width: 60%;
}

/* Partners End */

/* Contact Start */
#contact {
  display: flex;
}

#contact .contact-form, #contact .location-map {
  flex: 1;
}

#contact .contact-form label {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
}

#contact .contact-form input, 
#contact .contact-form textarea {
 width: 100%;
 padding: 0.75rem;
} 